body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(237, 210, 255);
    display: flex;
    align-items: center;
    overflow: auto;
}
  
#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}

#conception_wrapper{
    width: 25%;
    height: 100%;
    border-right: thick double rgb(15, 0, 26);
}

.conception_bar{
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}

.conception_input{
    width: 100%;
}

.conception_title{
    color: rgb(7, 1, 44);
    font-size: 38px;
    font-weight: 600;
}

#conception_diff{
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

#analizy_wrapper{
    margin: 0;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#analyze_header{
    margin-bottom: 30px;
}

.analyze_bar{
    height: 70px;
    /*width: 100%;*/
    display: flex;
    margin-top: 16px;
    margin-left: 20px;
}

input {
    display: inline-block;
    margin: 10px 10px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border-radius: 15px;
    outline: none;
    text-align: center;
}

input[type="date"] {
    padding-left: 7px;
    margin-right: 10px;
    width: 220px;
}

#analyze_header_spacer{
    height: 100%;
    width: 470px;
}

.output_cell{
    margin: 10px 0;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
}

.column_header{
    font-size: 24px;
    line-height: 1.2;
}

.column_header.prediction_cell{
    font-size: 22px;
}

.column_cell{
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid black;
}

.gest_age_cell{
    border-left: none;
    width: 80px;
}

.is_normal_cell{
    width: 100px;
}

.norm_cell{
    width: 200px;
}

.prediction_cell{
    width: 300px;
}

#output_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#output {
    height: 200px;
    font-size: 50px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.analizy_values{
    width: 180px;
    margin-right: 20px;
}

.analiz_output{
    display: flex;
    align-items: center;
    text-align: left;
    width:60%;
    font-size: 25px;
}

.date_output{
    margin-left: 10px;
    display: flex;
    width: 60px;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

#button_bar{
    padding: 10px 35px;
    width: 100%;
    position: fixed;
    text-align: left;
    bottom: 0;
}

input[type="button"] {
    font-size: 32px;
    color:rgb(228, 228, 228);
    touch-action: manipulation;
    will-change: box-shadow,transform;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#171722 0 -3px 0 inset;
    transition: box-shadow .15s,transform .15s;
}

/*input[type="button"]:focus {
    box-shadow: #484870 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3b3b49 0 -3px 0 inset;
}*/

input[type="button"]:hover {
    box-shadow: rgba(60, 47, 87, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2d2d38 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
input[type="button"]:active {
    box-shadow: rgba(45, 35, 66, 0.4) 0 3px 7px inset;
    transform: translateY(2px);
}

#add_button {
    width: 300px;
    margin-right: 20px;
    position: relative;
    background-color: rgb(0, 95, 71);
}

#send {
    width: 200px;
    background-color: rgb(0, 63, 105);
}

.delete_button[type="button"]{
    display: none;
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 2;
    font-size: 28px;
    position: relative;
    right: 50px;
    top: 50%;
    background-color: rgb(148, 0, 0);
    color: white;
    box-shadow: none;
    touch-action: none;
}

.data_field_wrapper:last-of-type .delete_button[type="button"] {
    display: block;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);